<div class = "content">
    <div class="bx--form-item">
        <label for="text-area-2" class="bx--label">Ration Supply System</label>
        <textarea id="text-area-2" class="bx--text-area bx--text-area--v2" style="font-family: Arial;font-size: 12pt;width:100%;height:100vw" readonly>
            In India, food security is very important for the citizens and this is being taken care by the Government through Public Distribution System (Ration System). However, due to the pandemic situation caused by the spread of COVID-19, it is very important to practice social distancing as well as provide the food security to the citizens. 
            In the current system, citizens need to go to the Fair price shop and wait for the ration in long queues. However, there are some loopholes in the existing supply chain:
            1.	Many FPS dealers resort to malpractice, illegal diversions of commodities, holding and black marketing due to the minimum salary received by them
            2.	Numerous malpractices make safe and nutritious food inaccessible and un-affordable to many poor thus resulting in their food insecurity
            3.	There is no set criteria as to which families are above or below the poverty line. This ambiguity gives massive scope for corruption and fallouts in PDS systems because some who are meant to benefit are not able to.
            4.	There is a huge queue in which people have to stand for long time to get the ration or sometimes when it comes to their turn, the stock is over, or the shop timings are over.
            
            How can technology help?

            1.	The citizens will be able to get the order/ ration at doorstep 
            2.	Hassle free ration distribution 
            3.	No waiting in the long queues 
            4.	Social distancing won’t be violated
            5.	Illegal diversions of commodities, holding and black marketing.
        </textarea>
      </div>
</div>
